{% extends "layout.html" %}

{% block content %}
<div class="container">
	<div class="image">
		<!-- Your image source and attributes here -->
		<img src="/static/perfil.JPG" alt="perfil" width="90%" height="auto" />
	</div>
	<div class="text">
		<h2>Education</h2>
		<p>
			PhD Candidate, Federal University of Ouro Preto<br>
			Master's degree in Applied Artificial Intelligence for Computer Vision, Federal University of Ouro Preto<br>
			Bachelor's degree in Metallurgical Engineering, Federal University of Ouro Preto
		</p>
		<h2>Professional Experience</h2>
		<p>
			Director of Operations, Software Engineering Laboratory (TerraLab), Federal University of Ouro Preto<br>
			Operations Coordinator, Take Blip (Intelligent Chatbot Solutions)
		</p>
		<h2>Teaching Experience:</h2>
		<p>
			Instructor for Statistics, Digital Image Processing, and fundamental subjects in Metallurgy<br>
			Operations Coordinator, Take Blip (Intelligent Chatbot Solutions)
		</p>
		<h2>Certifications</h2>
		<p>
			Green Belt, 6 Sigma methodology <br>
			Professional Team Metrics Certified <br>
			Professional Agile Master Leader Accredited
		</p>
	</div>
</div>
{% endblock %}
		


