{% extends "layout.html" %}
{% block content %}
	<section id="projects">
	<h2>Features</h2>
	<ul>
		<h3>TO DO</h3>
		<ul>
			<h4><a href="/detect">Detect Objetct in Image</a></h4>
		</ul>
		<h3>DOING</h3>
		<ul>
			<h4><a href="/sentiment">Sentiment Analysis</a></h4>
		</ul>
		<h3>DONE</h3>
		<ul>
			<h3><a href="/image"> Try image Example </a></h3>
			<h3><a href="/audio"> Try audio Example </a></h3>
			<h3><a href="/video"> Try video Example </a></h3>
		</ul>
	</ul>
	</section>
{% endblock %}
