{% extends "layout.html" %}
{% block content %}
	<section id="projects">
	<h2>Features</h2>
	<ul>
		<h3>TO DO</h3>
		<ul>
			<h4><a href="/jobs">Algorithmic Trading Strategy</a></h4>
		</ul>
		<h3>DOING</h3>
		<ul>
			<h4><a href="/jobs">Credit Score Classification</a></h4>
		</ul>
		<h3>DONE</h3>
		<ul>
			<h4><a href="/detect">Detect Objetct in Image</a></h4>
			<h4><a href="/sentiment">Sentiment Analysis in Action</a></h4>
			<h4><a href="/image"> Image Web Example </a></h3>
			<h4><a href="/audio"> Audio Web Example </a></h3>
			<h4><a href="/video"> Video Web Example </a></h3>
		</ul>
	</ul>
	</section>
{% endblock %}
